@import "../Theme";

.MainChat {
  @include flex($dir: column);

  height: 100%;
  width: 100%;
}

.EmptyUser {
  height: 100%;
  width: 100%;
  background-color: #209886;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;

  .Blob {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    margin-top: 100px;

    img {
      width: 100%;
      height: auto;
    }
  }

  ul {
    max-width: 90%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
  }

  li {
    width: 100%;
    color: white;
    text-shadow: 0 0 1px #000000e8;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px;

    span {
      background-color: #fff;
      color: #209886e8;
      text-shadow: none;
      white-space: nowrap;
      border-radius: 4px;
      cursor: pointer;
      padding: 0px 5px;
      margin: 0 3px;
    }

    .Online {
      background-color: rgb(38, 148, 38);
      color: white;
    }
  }

  p {
    width: fit-content;
    background-color: #fff;
    color: #209886e8;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 4px;
    padding: 0px 5px;
    margin: 10px 3px;
  }

  .Burger {
    background-color: white;
    color: $primary;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border: none;
    border-radius: 5px;
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 7px 5px;

    span {
      width: 25px;
      height: 4px;
      display: inline-block;
      background-color: $primary;
      border-radius: 2px;
    }
  }
}
