@import "../Theme";

.AddNewChat {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  position: sticky;
  top: 0;
  z-index: 1;

  p,
  input {
    width: 100%;
    color: white;
    background-color: $primary;
    font-size: 20px;
    border: none;
    border-color: $primary;
    align-self: stretch;
    padding: 5px 8px;
    text-align: center;
    caret-color: #50b0a2e8;
    accent-color: black;
  }

  .Burger {
    background-color: white;
    height: 85%;
    color: $primary;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    display: none;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 2px;
    padding: 5px;

    span {
      width: 23px;
      height: 3px;
      display: inline-block;
      background-color: $primary;
      border-radius: 2px;
    }
  }
}
