@import "../Theme";

@media screen and (max-width: 180px) {
  .AddNewChat {
    p {
      height: fit-content !important;
    }
  }
}

@media screen and (max-width: 200px) {
  .EmptyUser {
    p {
      flex-direction: column !important;
      text-align: center;
    }
  }
}

@media screen and (max-width: 300px) {
  .ChatList {
    min-width: 100%;
    transition: width 5s !important;
  }
}

@media screen and (max-width: 530px) {
  * > .Burger {
    display: flex !important;
  }

  .ChatList {
    background-size: cover;
    background-position: center;
    background: url("/public/BG.png"), rgba(0, 0, 0, 0.815);
    // background-color: black;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 2px solid black;
    transform: translateX(-100%);
    transition: width 0.3s, transform 0.3s;
  }

  .ChatListAfter {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
  }

  .toggled {
    transform: translateX(0%);
  }

  .AddNewChat {
    p,
    input {
      text-align: left !important;
      padding-right: 40px !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .Input {
    flex-wrap: wrap;
    gap: 2px;

    textarea,
    input {
      order: 0;
    }

    button {
      flex: 1;
    }

    .Send {
      order: 2;
    }

    .Receive {
      order: 1;
    }
  }
}
