* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Nunito, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: black;
  letter-spacing: 0.5px;
  background-size: cover;
  background-position: center;
  background-image: url("/public/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #29976f;
  border-radius: 0px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #6ab398;
}
