* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0.5px;
  background-size: cover;
  background-position: center;
  background-image: url("/Landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
